.product-page {
  border-radius: 0;
}

.product-page .product-detail {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.product-page .product-content {
  display: flex;
  gap: 40px;
}

.product-page .product-images {
  position: relative;
  overflow: hidden;
  flex: 1 1 50%;
}


.product-page .product-images::after {
  content: "0966799997";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color:#fff;
  font-weight: bold;
  /* banner.png */
  background: url('../images/banner2.png') repeat center center;
  background-size: cover;
  top: 7px;
  left: -5px;
  width: 120px;
  height: 45px;
}

.product-page .main-image {
  width: 100%;
  scale: 1;
  height: 460px;
  transform: translateY(-14px);
  object-fit: contain;
  border: 1px solid #ccc;
}


@media (max-width: 768px) {
  .product-page .product-images::after {
    top: 0px;
    left: -2px;
    width: 120px;
    height: 45px;
  }

  .product-page .main-image {
    height: 395px;
    border: none;
  }
}

.product-page .thumbnail-list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.product-page .thumbnail {
  width: calc((100% / 3) - 7px);
  height: 120px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.product-page .product-info {
  flex: 1 1 50%;
}

.product-page .product-info h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.product-page .price {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.product-page .state {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.product-page .contact-btn {
  padding: 12px 22px;
  font-size: 18px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.product-page .contact-btn:hover {
  background: #0056b3;
}

.product-page .product-description {
  width: 100%;
  margin-top: 30px;
}

.product-page .product-description h3 {
  font-size: 17px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.product-page .product-description > h3:first-of-type {
  font-size: 19px;
  text-decoration: underline;
}

.product-page .product-description img {
  width: 100% !important;
  height: auto !important;
  margin: 15px 0;
}

.product-page .product-description li {
  list-style: none;
}

.product-page .product-description li::before {
  content: "•";
  margin-right: 10px;
}


/* mobile CSS */
@media (max-width: 768px) {
  .product-page {
    margin-top: 110px;
  }

  .product-page .product-detail {
    padding: 0px;
  }

  .product-page .product-content {
    flex-direction: column;
    gap: 20px;
  }
}



.swiper {
  position: relative;
  width: 100%;
  max-width: calc(1100px - 20px);
}

.swiper-slide {
  height: auto !important;
  display: flex !important;
  margin-bottom: 50px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  transform: translateY(12px);
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  width: 40px !important;
  min-width: 40px !important;
  height: 40px !important;
  min-height: 40px !important;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.swiper-button-prev {
  z-index: 1000;
  left: -20px !important;
}

.swiper-button-next {
  z-index: 1000;
  right: -20px !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}